// 用户模块
.userWrap {
    background-color: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
}
// 快捷入口
.speedyWrap {
    background: #fff;
    border-radius: 4px;
    margin-top: 20px;
}
// 活动模块
.activityWrap {
    background: #fff;
    border-radius: 4px;
    margin-top: 20px;
}